# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv
venv/
env/
*.env

# Data & models
data/*
!data/.gitkeep
 *.joblib
 *.pkl


# OS files
.DS_Store
Thumbs.db
